name: LintArchitecture

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check_generate_file:
    name: Lint architecture
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache-dependency-path: "go.sum"

      - name: Install tools
        run: |
          go install github.com/fe3dback/go-arch-lint@v1.12.0
      
      - name: Lint architecture
        run: |
          go-arch-lint check
